---
---

@import "{{ site.theme }}";

/* LAYOUT STYLES */
body {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}

header {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}

a.button {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}
#main-content h1 {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h2 {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}
#main-content h3 {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h4 {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h5 {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}
#main-content h6 {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, serif;
}
