window, menubar, button{
  background-color: white;
  background-image: none;
}

decoration {
  border-radius: 0;
}

button {
  border-radius: 0;
}

menubar {
  font-weight: bolder;
}

window headerbar {
  border-radius: 0;
  border: 1px solid grey;
  min-height: 35px;
  background-color: white;
  background-image: none;
}

window headerbar * {
  padding: 0;
}

.titlebutton {
  border: 1px solid grey;
  border-radius: 2px;
  background-color: white;
  color: black;
  padding: 0px;
  margin: 0px;
}

.text-button label {
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
  box-shadow: -1px 1px black;
  background: white;
}


.text-button:checked label {
  color: white;
  background: black;
}

toolpalette  {
  background: #DDD;
}

.text-button {
  background: none;
  padding:0;
  padding-right: 5px;
  margin:0;
  border:none;
}

.glyph-edit-toolbox {
  background: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 0 2px gray, 0 -2px gray;
}

.glyph-edit-toolbox * {
  padding: 2px;
}

.project-label {
  padding: 5px;
  /*
  background: #a8a8a8;
  color: #2d2d2d;
   */
}

.sidebar {
  background: #a8a8a8;
  color: #fff;
  text-shadow: 1px 1px grey, -1px -1px grey, 1px -1px grey, -1px 1px grey;
}

.project-minimap {
  background: #959595;
  color:black;
}
