* {
  font-family: "Inter", "Sans", sans;
}
window, menubar, button{
  background-color: white;
  background-image: none;
}

decoration {
  border-radius: 0;
}

button {
  border-radius: 0;
}

menubar {
}

headerbar {
  border-radius: 0;
  border: 1px solid grey;
  min-height: 35px;
  background-color: white;
  background-image: none;
  min-height: 0;
  padding: .2rem;
}

headerbar * {
  padding: 0;
}

dialog {
  background: white;
}

.titlebutton {
  border: 1px solid grey;
  border-radius: 2px;
  background-color: white;
  color: black;
  padding: 0px;
  margin: 0px;
}

.text-button label {
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
  box-shadow: -1px 1px black;
  background: white;
}

.text-button:checked label {
  color: white;
  background: black;
}

headerbar .text-button label {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: white;
}

.sidebar-label {
  color: black;
  box-shadow:none;
  outline:none;
  text-shadow:1px 1px darkgrey;
  font-weight:bold;
}


toolpalette  {
  background: #DDD;
}

.text-button {
  background: none;
  padding:0;
  margin:0;
  border:none;
}

.glyph-edit-toolbox {
  padding: 5px;
  margin-top: 20px;
}

.glyph-edit-toolbox, .glyph-edit-toolbox toolbar {
  background: none;
  border: none;
  box-shadow: none;
}

toolbar > * > * {
  margin-left: 2px;
}

toolitem box button {
  padding: 0px;
}

.glyph-edit-toolbox * {
  padding: 5px;
}

label.zoom-label {
  padding: 2px;
  background: white;
  border: 1px solid darkgray;
  border-radius: 2px;
  color: black;
  font-weight: 500;
}

.project-label {
  padding: 5px;
}

.sidebar {
  background: #a8a8a8;
  color: #fff;
  text-shadow: 1px 1px grey, -1px -1px grey, 1px -1px grey, -1px 1px grey;
}

.project-minimap {
  background: #959595;
  color:black;
}

tab {
  border: 1px outset gray;
  border-bottom: 0px;
  padding: 5px;
  min-height: 0;
  box-shadow: -1px -1px darkgray, 1px 0px darkgray;
  background-color: #eee;
}

tab:checked {
  border: 1px inset gray;
  border-bottom: 0px;
}

tabs {
  padding-left: 0;
  padding-top: 3px;
  margin-left: -4px;
  background-color: #ddd;
}

button.image-button > box {
  padding:0;
}

.image-button:not(.tab-button) {
  background: white;
  border: 1px solid black;
  box-shadow: -1px 1px black;
  border-radius: 3px;
}

.image-button.toggle-button {
  border:none;
  box-shadow: none;
}

.tab-button {
  background: none;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

toolbutton.active button:checked {
  background: lightgrey;
}

toolitem + toolitem {
  margin-left: 2px;
}
toolitem button {
  min-height: 0;
  min-width: 0;
}

button.active.toggle {
  background: lightgrey;
}

button.toggle{
  padding: 0;
  min-width: 16px;
  min-height: 16px;
}

notebook header {
  /*box-shadow: 0px 1px #a9a9a9;*/
}

scrollbar {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
}

scrollbar slider {
    /* Size of the slider */
    min-width: 10px;
    min-height: 20px;
    border-radius: 0px;

    /* Padding around the slider */
    border: 0px solid transparent;
}

scrollbar button {
  min-width: 2px;
}

tab {
  border: 1px solid darkgray;

  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-right: none;
  border-left: none;
  border-bottom: none;
  background: white;
  padding: 0px 6px;
  margin: 0 2px
}

tab:checked {
  border-color: black;
  background: #5094FF;
  color: white;
}

tabs {
  background: #DDDDDD;
  margin-left: 0px;
}

box.workspace {
  border:none;
  margin:0;
}

statusbar {
  background: #DDDDDD;
  border-top: 1px solid black;
}

window>box>notebook{
  border:0px;
}

window>box>notebook>stack>box{
  background:white;
  outline:0;
  padding:0;
  margin:0;
  border:none;
}

header {
  border:none; 
}

window>box>notebook>stack{
  border:0px solid black;
  border-top:3px solid black;
}

.shortcut-kbd {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  font-size: 0.85em;
  padding: 2px 4px;
  font-family: monospace;
}

button.text-button.shortcuts-more {
  min-height: 0;
  min-width: 0;
  padding: 0 .5ex;
}

button.text-button.shortcuts-more label {
  border:1px solid darkgray;
  color: #555;
  box-shadow:none;
  padding: 0;
  margin:0;
}

button:hover.text-button.shortcuts-more label {
  box-shadow: -1px 1px black;
}

#layers {
  background:white;
  border: 1px solid black;
  padding: 5px;
  border-bottom-right-radius: 4px;
}

.terminal-box {
  color:white;
  background: #222;
  font-family: mono;
  border-radius: 3px;
}

.terminal-box label {
  color:white;
  background: #222;
  font-family: mono;
}

.terminal-entry {
  color:white;
  background: #222;
  font-family: mono;
}

entry.invalid {
  background: #ee0000;
}
